## Prueba Tecnica Hugo

### Twitter API - Hugo

### Import libraries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import tweepy  
import time
import csv
import json
import pickle

from sklearn.feature_extraction.text import CountVectorizer
import snscrape.modules.twitter as sntwitter

### Another way to get data, it works, but the quality is not good

In [57]:
import pandas as pd
import twint
import nest_asyncio
nest_asyncio.apply()

# Configure
c = twint.Config()
c.Username = "TheBridge_Tech"
c.Store_csv = True
c.Output='tweets_hm2.csv'
# Run
twint.run.Search(c)
data = pd.read_csv('tweets_hm2.csv')

1527312943397806080 2022-05-19 17:39:16 +0200 <TheBridge_Tech> Â¡QuÃ© poco queda para el prÃ³ximo ğŸ”¥Burn MondayğŸ”¥! Lunes 23 de mayo a las 18h. aplicaremos la #IA en un viaje por obras pictÃ³ricas y hablaremos de la metodologÃ­a de un Hackaton con dos alumnis de #DataScience Â¡Saca tu entrada y ven a tomarte un @burn_es!ğŸ”‹â¬‡  https://t.co/6mNJvlmi9F
1526946552492789760 2022-05-18 17:23:22 +0200 <TheBridge_Tech> Esta es la historia de IsisğŸ¤— que decidiÃ³ hacer un cambio en su vida profesional haciendo el #bootcamp de #uxui. Ahora, compagina su trabajo con el de Teacher Assistant en @TheBridge_Tech. El camino es duro pero seguro darÃ¡ sus frutosğŸ‘©â€ğŸ’»Â¡Gracias Isis por compartir tu experiencia!  https://t.co/1UHKZW0UxN
1526886949839065088 2022-05-18 13:26:31 +0200 <TheBridge_Tech> Gracias @victorianoI y equipo por el anÃ¡lisis con @graphext de los datos en educaciÃ³n y tecnologÃ­a que vimos ayer en la primera charla de #letstalkabouteducation en @TheBridge_Tech y que pudimos debatir con @ikerarceseco Sin duda aprendimos mucho Â¡Volved cuando querÃ¡is! ğŸ§µHilo ğŸ“Š  https://t.co/wZSVGve1sn
1526576722350686208 2022-05-17 16:53:47 +0200 <TheBridge_Tech> Â¿Con ganas de probar si un empleo tecnolÃ³gico es para ti? Ven a los talleres del campus de #Sevilla @ENCamaraSevilla   24 Mayo â¡Taller #DataScience  25 Mayo â¡Taller #DesarrolloWebFullStack 26 Mayo â¡Taller #Ciberseguridad 1 Junio â¡ Open Day  ğŸŸEntradas  https://t.co/Cp05ZJBqVa  https://t.co/Vyqa1l94hr
1524795347352051712 2022-05-12 18:55:14 +0200 <TheBridge_Tech> Descubre las posibilidades y misterios que oculta el #metaverso con @HavasGroupES ğŸ˜ Hablaremos de tipos de metaverso, estrategias de onboarding, casos reales... Â¡Promete ser muy interesante! PrÃ³ximo 19 de mayo a las 17.30h. Consigue tus entradas ğŸŸ https://t.co/KxeTH2ICpc
1524738407603310594 2022-05-12 15:08:59 +0200 <TheBridge_Tech> ğŸ“»Los #bootcamps son para "cualquier persona que quiera un empleo tecnolÃ³gico de calidad", como bien explican InÃ©s GarcÃ­a Clariana y @AmparoGalbis1 en "La Tarde con Marina" en @999plazaradio. Escucha la entrevista completa de nuestro equipo de #ValenciağŸ”Š https://t.co/7HNlE0vpmO
1524117624174653441 2022-05-10 22:02:12 +0200 <TheBridge_Tech> ğŸ‘¾ El caso #Pegasus, un ejemplo mÃ¡s de #ciberespionaje que pone en relevancia la necesidad de expertos en #ciberseguridad  Te contamos quÃ©s es ğŸ•µï¸â€â™€ï¸ y para quÃ© fue creado ğŸ‘‡  https://t.co/kyzgkQDZ8N
1524053162323283968 2022-05-10 17:46:04 +0200 <TheBridge_Tech> Â¡â€Letâ€™s talk about educationâ€! Os invitamos a la primera sesiÃ³n del nuevo ciclo de conferencias sobre #educaciÃ³n @ikerarceseco y @victorianoi debatirÃ¡n sobre los datos en el sector y descubriremos @graphext plataforma de #datascience no code. EntradasğŸŸ  https://t.co/ksTzmzqqLQ
1523574457549623296 2022-05-09 10:03:51 +0200 <TheBridge_Tech> Â¡Vamos con los talleres de mayo! Este mes tenemos un montÃ³n de #freeevents ğŸ‘©â€ğŸ’»Metaverso, OSINT, Sistemas de diseÃ±o UX/UI, un coloquio sobre educaciÃ³n ... Â¡No esperes mÃ¡s y saca ya tu entrada! ğŸŸ https://t.co/Nlwg6cTDOa  https://t.co/zWjT1I2AER
1522231140656066561 2022-05-05 17:06:00 +0200 <TheBridge_Tech> ğŸ‘ğŸš€Lanzamos una nueva ediciÃ³n de las #becas Digital Talent Pipeline para cursar un #bootcamp en junio y septiembre Â¿Quieres solicitar la tuya? Plazo hasta el 30 de mayo Â¡Date prisa #digitaltalent! â¡ https://t.co/PXFR0q85F7  https://t.co/qwiGSm4WOI
1521871017714589699 2022-05-04 17:15:00 +0200 <TheBridge_Tech> ğŸ¤©Â¿Quieres conocer el talento digital que llevas dentro? Â¡Ven a nuestro Open Day y descÃºbrelo!   ğŸ“…Viernes 20 de mayo 11.15h en Paseo de Recoletos 15, Madrid.  ğŸŸSaca tus entradasğŸ‘‡ğŸ‘‡ https://t.co/qq3WqsydKv
1519208638136602626 2022-04-27 08:55:39 +0200 <TheBridge_Tech> @burn_es Prueba de ello ğŸ“¸ğŸ”¥  https://t.co/7SWL2ionj3
1518607234976161792 2022-04-25 17:05:53 +0200 <TheBridge_Tech> Este jueves Job Market Place en @TheBridge_Tech con @spaingeneration La feria de empleo con el mejor talento de #marketingdigital @AccentureSpain, @Siliconhr1, ... participarÃ¡n en busca del mejor talento. Si eres empresa y quieres participar ğŸ‘‰ https://t.co/0n4iufzfmi  https://t.co/A51YStbfjF
1518529871969988608 2022-04-25 11:58:29 +0200 <TheBridge_Tech> "Necesitaba formaciÃ³n tÃ©cnica para potenciar mi empleabilidad", cuenta nuestra alumni Clara BayÃ³n a @el_pais ğŸ—Tras hacer el #bootcamp en #ciberseguridad ahora trabaja en @DeloitteDE Check it out! ğŸ‘‰ https://t.co/XGIPZfmtx6  https://t.co/7jrVa74qTG
1517147713254526978 2022-04-21 16:26:16 +0200 <TheBridge_Tech> Â¿Unimos #psicologÃ­a, diseÃ±o #uxui y #realidadvirtual? La respuesta: SÃ! Te invitamos a la mesa redonda del 28 de abril en @TheBridge_Tech donde trataremos el diseÃ±o ux desde el punto de vista del tratamiento de las fobias a travÃ©s de la #vr. Entradas ğŸ‘‰ https://t.co/JGOpD7p2rO
1517111329374543873 2022-04-21 14:01:42 +0200 <TheBridge_Tech> Â¡Gracias a vosotros!
1516687246241550337 2022-04-20 09:56:32 +0200 <TheBridge_Tech> Â¡QuÃ© bonito es nuestro palacio! ğŸ˜ Todo un privilegio para alumnos, profes y staff poder disfrutar de este espacio en pleno centro de Madrid.
1516440085486575617 2022-04-19 17:34:25 +0200 <TheBridge_Tech> â–¶Os presentamos a JesÃºs, alumni reciÃ©n graduado del #bootcamp de #digitalmarketingops que tras acabar la carrera se lanzÃ³ en busca de una especializaciÃ³n en #MarketingDigital Â¡Gracias JesÃºs por compartir tu experiencia y mucha suerte! ğŸš€ MÃ¡s info ğŸ‘‰ https://t.co/GtnhQmDsGP  https://t.co/4VV7VDyjjP
1515970019733258247 2022-04-18 10:26:32 +0200 <TheBridge_Tech> @bertinha84 Ese nudo es presagio de algo bueno ğŸ˜†Â¡Bienvenida a @TheBridge_Tech ! Muchas horas de #UXUI te esperan ğŸ™Œ Â¡sin miedo!
1513807125205684224 2022-04-12 11:11:58 +0200 <TheBridge_Tech> A la vuelta de #SemanaSantaSevilla tocağŸ‘‰ #bootcampsğŸ§‘â€ğŸ’»EspecialÃ­zate en #datascience o #desarrollowebfullstack con nuestros programas en colaboraciÃ³n con @ENCamaraSevilla Â¡Estudia en pleno centro de Sevilla! Y en unos meses sal a comerte el sector techğŸš€ https://t.co/1MQSzZSqLv  https://t.co/ggtxFWCV72
1513473323589672963 2022-04-11 13:05:33 +0200 <TheBridge_Tech> ğŸ“…El 25 de abril estrenamos los #BurnMondaysğŸ”¥, con la colaboraciÃ³n de @burn_es, una oportunidad para que nuestr@s alum@s puedan presentar sus proyectos, hacer un taller... En definitiva, mostrar su talento alğŸŒ Â¡Save the date! â¡ Entradas  https://t.co/yzVCLHZXVd   #bootcamps  https://t.co/yZuTjBCGIf
1512026991578566657 2022-04-07 13:18:21 +0200 <TheBridge_Tech> @burn_es Â¿AlgÃºn que otro? ğŸ˜ Toda energÃ­a extra es bienvenida y necesaria ğŸ”‹ğŸ”¥ Â¡Gracias @burn_es! Pronto haremos buen uso de ella...  https://t.co/p0uELS5eIf
1511970979324518406 2022-04-07 09:35:47 +0200 <TheBridge_Tech> En dos semanas empezamos los bootcamps Part Time (compatibles con trabajo/estudios) en #Sevilla y en @ENCamaraSevilla ya hay quiÃ©n ha empezado a calentar!!ğŸ’ª Â¿Preparados para lo que viene? ğŸ‘‰ https://t.co/1KbOQQK8iw
1511613451063410690 2022-04-06 09:55:05 +0200 <TheBridge_Tech> @AndreaMaganRey Hola Andrea Â¡QuÃ© gran trabajo! Estamos encantados de pasarte informaciÃ³n para que puedas completar ese listado, te mandamos un DM ğŸ‘
1509622664297693189 2022-03-31 22:04:25 +0200 <TheBridge_Tech> Cuando piensas en un hacker... Â¿Te imaginas a una mujer? ğŸ¤” "Son muy pocas las mujeres que deciden apostar por estudios de tecnologÃ­a, hay que fomentar la inclusiÃ³n de las mujeres en un mercado laboral con un futuro muy prometedor", explica @ikerarceseco ğŸ‘©â€ğŸ’» https://t.co/UQgHL1tLCQ
1509108619782111235 2022-03-30 12:01:47 +0200 <TheBridge_Tech> Â¡LlegÃ³ el dÃ­a! Hoy es el #DesafiodeTripulaciones âš” en el campus de #Valencia Â¡Mucha suerte a toda esa primera promociÃ³n valenciana presentando sus sÃºper webapps! No te lo pierdas â–¶ Sigue ya el DIRECTO aquÃ­  https://t.co/lLXz2wKxaX  #datascience #fullstackwebdevelopment #bootcamp
1509074925654532099 2022-03-30 09:47:54 +0200 <TheBridge_Tech> A partir de las 11h nuestro CEO @ikerarceseco participa en el #ForoVocentoEducacion en el debate "FormaciÃ³n para el futuro y las nuevas profesiones que vienen" organizado por @Vocento (@vocentoeventos) y @KreabEspana. SÃ­gueloğŸ”´EN DIRECTO â¡  https://t.co/JFh6RBMBd4  https://t.co/RJvjrxULch
1507029045187387401 2022-03-24 17:18:18 +0200 <TheBridge_Tech> Hoy han venido a visitarnos los alumnos de @itep_es de #DAM #ASIR y #MARKETING para conocer nuestro campus de Madrid y el futuro de profesiones tecnolÃ³gicas como las suyas Â¡Esperamos que hayais pasado una estupenda jornada! Sois los profesionales #techie del maÃ±ana ğŸ‘©â€ğŸ’»ğŸ§‘â€ğŸ’»  https://t.co/U1gPnU7TgI
1506941441574117378 2022-03-24 11:30:11 +0200 <TheBridge_Tech> Â¿Crees que lo sabes todo?ğŸ¤“Â¡DÃ©jate sorprender! AdÃ©ntrate en el mundo de la #ProgramacionWeb y las criptomonedas, conoce la metolodogÃ­a #Scrum o profundiza en el #deeplearning. ApÃºntate a nuestros talleres gratuitos y amplÃ­a horizontes ğŸ‘‰ https://t.co/bYfstQB02R  https://t.co/O1Y4J6puMR
1504734193401618459 2022-03-18 09:19:22 +0200 <TheBridge_Tech> Â¡Comenzamos el #Desafiodetripulaciones âš” de la promo full time de noviembre! El tema de los proyectos: el #coliving, con la colaboraciÃ³n de @TheFringeLABS  Â¡No te pierdas las web apps que han creado! ğŸ”´EN DIRECTO  https://t.co/PepMdUmCMu
1504416870526590977 2022-03-17 12:18:27 +0200 <TheBridge_Tech> MÃ¡s de 300.000 expertos en #ciberseguridad se han unido en una especie de "ejÃ©rcito IT" en Ucrania para llevar a cabo ataques informÃ¡ticos contra infraestructuras y empresas rusas ğŸ‘¾ğŸ”“ https://t.co/CERWGVqWQw
1503409219789328384 2022-03-14 17:34:24 +0200 <TheBridge_Tech> Â¡Muy contentos por todos ellos! 100% empleabilidad en la promociÃ³n de junio. Gracias desde @TheBridge_Tech por confiar y ponerlo todo tan fÃ¡cil Â¡Felicidades! #fullstackdevelopers #datascientists #digitalmarketers #uxuidesigners #cybersecurityanalysts ğŸ¯ğŸ’¼  https://t.co/R0eGi9QXv5
1502360507365400587 2022-03-11 20:07:12 +0200 <TheBridge_Tech> ğŸ‘¾La #ciberseguridad, mÃ¡s necesaria que nunca.  El #sectortecnolÃ³gico pide mÃ¡s financiaciÃ³n y formaciÃ³n de profesionales para evitar ataques a sectores claves para la economÃ­a como energÃ­a, finanzas y transporte ğŸ”’Â  https://t.co/OxY8JpRavS
1502195577584500740 2022-03-11 09:11:49 +0200 <TheBridge_Tech> Â¿AlgÃºn identificado en la sala? ğŸ˜‚  #desarrolloweb #css #fullstackdeveloper
1501543878692073472 2022-03-09 14:02:12 +0200 <TheBridge_Tech> Faltan por salir las listas de #UXUIProductDesign #DataScience y #DesarrolloWebFullStack Â¡SerÃ­a estupendo volver a aparecer!
1501530641610989581 2022-03-09 13:09:36 +0200 <TheBridge_Tech> Â¡El #bootcamp de #Ciberseguridad de @TheBridge_Tech vuelve a estar entre los mejores bootcamps del mundo! Y este aÃ±o tambiÃ©n nos estrenamos con el de #DigitalMarketingOps que entra por primera vez en la lista de #CourseReport! Una sÃºper noticiağŸ‘ğŸ‘Â¡Gracias a todos! #bestbootcamps  https://t.co/3xShvybDST
1500821305754595332 2022-03-07 14:10:57 +0200 <TheBridge_Tech> ğŸ§Â¿SabÃ­as que a partir de los 6 aÃ±os las niÃ±as empiezan a pensar que los niÃ±os son mÃ¡s capaces que ellas?ğŸŸ£Ven a ver el proyecto de #uxui de nuestra alumni Carmen de AgustÃ­n para fomentar el interÃ©s de las niÃ±as en la #ciencia y la #tecnologÃ­a #8M2022 ğŸŸ https://t.co/ZH7OSzglVm  https://t.co/KEqjp18lPX
1499395478563155968 2022-03-03 15:45:14 +0200 <TheBridge_Tech> @PICKYUAN @PagePersonnel Sentimos mucho el fallo tÃ©cnico. Revisaremos que pudo pasar, pueden conectarse a prÃ³ximos eventos o contactarnos si quieren mÃ¡s informaciÃ³n sobre la escuela llamar al 919 01 72 57 Â¡Gracias!
1498939760462630913 2022-03-02 09:34:22 +0200 <TheBridge_Tech> Â¡Empezamos el 21 de marzo en #Sevilla! No te puedes perder este taller de empleabilidad con el que arrancamos ğŸš€ Entradas:  https://t.co/91M74qEah2 ğŸ“…Hoy a las 19h ğŸ“C/Isabela 1, Sevilla @ENCamaraSevilla  https://t.co/euWktCKqYp
1498212250481483778 2022-02-28 09:23:30 +0200 <TheBridge_Tech> Gracias @insidezeusdata y @vicencf por la jornada formativa Â¡Fue toda una experiencia para nuestros alumnos de #Valencia! ğŸ¤—
1497165125752664112 2022-02-25 12:02:36 +0200 <TheBridge_Tech> Â¡#Datascientist mirad esto! âš½ğŸƒ CÃ³mo @LaLiga utiliza el dato y la inteligencia artificial (IA) para predecir cuÃ¡les son las mejores fechas para celebrar partidos, monitorizar la venta de entradas... Â¡Interesante conocer su filial @LaLigaTech!  https://t.co/HrEwHLEivh #datascience
1497118969236377601 2022-02-25 08:59:12 +0200 <TheBridge_Tech> Â¡Gracias a vosotros! Los alumnos se llevaron grandes consejos y una visiÃ³n del mercado laboral en profesiones #tech desde la perspectiva de #seleccion y #recruitment ğŸ¤© @PagePersonnelES @michaelpage_es
1496140777529004033 2022-02-22 16:12:12 +0200 <TheBridge_Tech> Si veis estos carteles por Sevilla, SÃ, SOMOS NOSOTROS! Aterrizamos en marzo con los #bootcamps en #DataScience y #DesarrolloWebFullStack Â¡Pide informaciÃ³n sin compromiso! En colaboraciÃ³n con @ENCamaraSevilla y @camaradesevilla ğŸ‘  https://t.co/V8mmlFAlEc  https://t.co/JUOBlK4F7V
1495710690950193155 2022-02-21 11:43:12 +0200 <TheBridge_Tech> Â¡Nuevos eventos para febrero y marzo! Talleres sobre #IA, #marketingdigital #empleabilidad, #ciber, #datascience Â¡No te los pierdas e inscrÃ­bete! â¬‡ï¸  https://t.co/bSsTjrDH8l  https://t.co/4b1jxJmMLO
1492085613713141760 2022-02-11 11:38:26 +0200 <TheBridge_Tech> Hoy se celebra VLC Tech Women con motivo del #DiaDeLaMujeryLaNiÃ±aEnLaCiencia, un evento en el que se hablarÃ¡ de inteligencia artificial, datos y el futuro de la mujer en la tecnologÃ­a @AcmUpv @AcmWUpv  https://t.co/OhDBKHnsQQ Â¡Promete ser muy interesante!ğŸ‘©â€ğŸ’»
1491801710729195524 2022-02-10 16:50:18 +0200 <TheBridge_Tech> Sevilla estÃ¡ llena de talentos digitales por descubrir Â¿te animas a conocer las profesiones del futuro?ğŸ§‘â€ğŸ’»Ven al taller y conoce de la mano de @pagepersonnel los perfiles mÃ¡s demandados Â¡Saca tus entradas!ğŸ‘‰ 2 de marzo, 19h.  https://t.co/5UMpplARdX
1489181416818724864 2022-02-03 11:18:12 +0200 <TheBridge_Tech> Â¡Nos visita @DecathlonES ! Si te interesa la ciencia de datos y cÃ³mo se aplica a proyectos reales Â¡ApÃºntate al evento! ğŸ‘‡ El 8 de febrero a las 17.30h ğŸ˜‰ #datascience #bestpractice #freeevent  https://t.co/pXyFXll3fa
1488811177928921089 2022-02-02 10:47:00 +0200 <TheBridge_Tech> Cada vez se habla mÃ¡s de las "soft skills" y de lo importante que son para aplicar a posiciones tecnolÃ³gicas Â¡Descubre cuÃ¡les son en nuestro evento "Soft Skills en tiempos de robots"! Saca tu entrada ğŸ‘‡  https://t.co/PfcDscwDtP
1485581825401577472 2022-01-24 12:54:42 +0200 <TheBridge_Tech> Â¡Open Day Sevilla! Asiste al evento y conoce mÃ¡s sobre los bootcamps de #DataScience y #DesarrolloWebFullStack en nuestra nueva sede en la @ENCamaraSevilla @camaradesevilla Â¿EstÃ¡s pensando en acelerar tu carrera digital?  ğŸ‘©â€ğŸ’»Saca ya tus entradasğŸš€ https://t.co/j6mTRz4NDB
1484832209567551489 2022-01-22 11:16:00 +0200 <TheBridge_Tech> Â¡Inside The Bridge! Â¡EmociÃ³n a flor de piel! AsÃ­ reacciona Miriam SÃ¡nchez, la profe de UX/UI a los #proyectosfinales de los alumnos Â¡Se puede decir que ya son UX/UI Designers! ğŸ˜†  #uxui #bootcamp #clases #motivacion #palabrasraras  https://t.co/bU5ZaGcTPV
1484117172494475265 2022-01-20 11:54:42 +0200 <TheBridge_Tech> Nuevo eventoğŸ¤©"La Inteligencia Artificial y la Ley: lo que hay y lo que viene" a cargo de @rayadvd  ğŸ“†25 de enero en @TheBridge_Tech  Â¡Saca ya tus entradas!ğŸŸï¸ https://t.co/EG7QBigIgJ  #ResponsibleAI #AILaw #Compliance @nodosenlared  @josepcurto
1483836824279818241 2022-01-19 17:20:41 +0200 <TheBridge_Tech> El claustro de #DataScience de @TheBridge_Tech ha creado este "escalofriante" vÃ­deo haciendo uso de Inteligencia Artificial con motivo del tema del #DesafÃ­odeTripulaciones sobre la protecciÃ³n de las marcas Â¡Alumnos y famosos se mezclan en este ejercicio de #deepface! #IA ğŸ¤¯  https://t.co/3Eg8WYfV2p
1483737308553789445 2022-01-19 10:45:15 +0200 <TheBridge_Tech> La directora de #ciberseguridad de @siemens @NataliaOropezaG  aboga por una sÃ³lida estrategia de ciberseguridad de manera proactiva, y no reaccionar "tras haber tenido un ataque o una auditorÃ­a interna, instalando algunas medidas aquÃ­ y allÃ­"âš”ï¸ #Checkitout  https://t.co/3ZXCwOU8pT
1483469787078533123 2022-01-18 17:02:13 +0200 <TheBridge_Tech> Del periodismo al marketing digital ğŸ¤¸ esta es la historia de Blanca GÃ³mez y su experiencia cursando el #bootcamp de #DigitalMarketingOps en @TheBridge_Tech Â¡Dale al â–¶!   #digitaltalent #aceleratucarrera  https://t.co/sU5Ogt3xGn
1475432979925278723 2021-12-27 12:46:49 +0200 <TheBridge_Tech> Â¿Quieres crear una #startup ? Â¿EstÃ¡s perdido en el mundo de los socios? â¡Nuevo evento de formaciÃ³n para emprendedores sobre #pactosdesocios impartido por @Letslawfirm Â¡Evento online y gratuito! ApÃºntate ya 12 ene 17.30hğŸ‘©â€ğŸ’»  https://t.co/pNQyu844fb  https://t.co/eM18tiU80S
1473672163571998748 2021-12-22 16:09:57 +0200 <TheBridge_Tech> PrÃ³xima paradağŸ“Sevilla Â¡Los #bootcamps de @TheBridge_Tech llegan a la ciudad de la mano de @ENCamaraSevilla! El 21 de marzo empezamos con #DataScience y #DesarrolloWebFullStack ğŸ™Œ   InfÃ³rmate en  https://t.co/V8mmlFAlEc  #sevilla #digitaltalent #aceleratucarrera @camaradesevilla  https://t.co/6D8GlYkKwX
1470672309719646210 2021-12-14 09:29:37 +0200 <TheBridge_Tech> @AlonsoVcr96 Le hemos escrito un DM ğŸ˜‰
1470336227324973057 2021-12-13 11:14:08 +0200 <TheBridge_Tech> â˜ƒï¸Winter is coming... RefÃºgiate en el conocimiento de la mano de los eventos gratuitos de @TheBridge_Tech ğŸ‘©â€ğŸ’»Â¡Un montÃ³n de talleres para aprender y una oportunidad para conocer de cerca lo que hacemos! InscrÃ­bete yağŸ‘‰ https://t.co/33sWyP85sA  https://t.co/9KXb8OxuuI
1468612835995308034 2021-12-08 17:06:00 +0200 <TheBridge_Tech> Nos llena de orgullo y satisfacciÃ³n la sÃºper App que han creado nuestros profes y alumnos para #joytotheworld2021 Â¿CÃ³mo funciona? Escaneas un cÃ³digo QR y por arte de magia los personajes aparecerÃ¡n ante ti gracias a la realidad aumentada Â¡Mola mucho!ğŸ„  https://t.co/67UXpyevlN  https://t.co/oCz5FtXpWB
1466722714379509762 2021-12-03 11:55:20 +0200 <TheBridge_Tech> Hoy con motivo del #DiaInternacionalDiscapacidad os compartimos las Wep Apps accesibles que crearon los alumnos en uno de los Ãºltimos #DesafÃ­osDeTripulaciones âš”ï¸Un reto todavÃ­a a superar, ya que muchas webs presentan problemas de #accesibilidad #accesibilidadweb ğŸ“²  https://t.co/S6MGI9SjuF
1466459964680151047 2021-12-02 18:31:15 +0200 <TheBridge_Tech> Â¡Luces, cÃ¡mara y acciÃ³n! Comenzamos el DesafÃ­o de Tripulaciones Part Time SÃ­guelo EN DIRECTO y descubre los proyectos digitales que han creado  https://t.co/pu8lO9w8T4
1466111078295875585 2021-12-01 19:24:54 +0200 <TheBridge_Tech> En el Taller de @MercadonaTech sobre TDD aplicado al desarrollo API Â¡Nos metemos de lleno en la materia!ğŸ’» ğŸ’ª #desarrolloweb #fullstack #Django  https://t.co/N8LVEKnq8W
1466065714972872712 2021-12-01 16:24:39 +0200 <TheBridge_Tech> Ayer coincidiendo con el #DÃ­adelaCiberseguridad firmamos un acuerdo de colaboraciÃ³n con @Women4Cyber_SP para seguir fomentando la presencia de mujeres en profesiones digitalesğŸ“¸Junto a la promo Part-time del #bootcamp de Ciberseguridad, en la que hay 5 mujeres ğŸ™Œ  https://t.co/uPb7ROYN6S
1466034288462340099 2021-12-01 14:19:46 +0200 <TheBridge_Tech> @EmilioMarioRod1 Gracias @EmilioMarioRod1ğŸ˜ŠTodos nos hemos sentido perdidos a la hora de buscar empleo, quÃ© pasos seguir o si la decisiÃ³n que tomamos al optar por una formaciÃ³n u otra es la correcta Â¡Ãnimo, ya sea si te lanzas a la bÃºsqueda de empleo o eliges darle un empujÃ³n a tu formaciÃ³n! ğŸš€

In [58]:
data.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [59]:
data['date']

0      2022-05-19
1      2022-05-18
2      2022-05-18
3      2022-05-17
4      2022-05-12
          ...
459    2021-11-16
460    2021-11-11
461    2021-11-10
462    2021-11-08
463    2021-11-08
Name: date, Length: 464, dtype: object

In [60]:
data.shape

(464, 36)

In [61]:
data

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1527312943397806080,1527312943397806080,2022-05-19 17:39:16 Romance Daylight Time,2022-05-19,17:39:16,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1526946552492789760,1526946552492789760,2022-05-18 17:23:22 Romance Daylight Time,2022-05-18,17:23:22,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1526886949839065088,1526886949839065088,2022-05-18 13:26:31 Romance Daylight Time,2022-05-18,13:26:31,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1526576722350686208,1526576722350686208,2022-05-17 16:53:47 Romance Daylight Time,2022-05-17,16:53:47,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1524795347352051712,1524795347352051712,2022-05-12 18:55:14 Romance Daylight Time,2022-05-12,18:55:14,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,1460664611980652552,1460664611980652552,2021-11-16 18:42:35 Romance Standard Time,2021-11-16,18:42:35,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
460,1458826070162124805,1458826070162124805,2021-11-11 16:56:53 Romance Standard Time,2021-11-11,16:56:53,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
461,1458355189593870343,1458355189593870343,2021-11-10 09:45:46 Romance Standard Time,2021-11-10,09:45:46,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
462,1457661218525696004,1457661218525696004,2021-11-08 11:48:11 Romance Standard Time,2021-11-08,11:48:11,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
463,1457628986436161539,1455923357464018948,2021-11-08 09:40:06 Romance Standard Time,2021-11-08,09:40:06,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [63]:
data['likes_count'].value_counts()

0    229
1    116
2     55
3     43
5      9
4      8
9      2
6      2
Name: likes_count, dtype: int64

In [64]:
data.fillna(0)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1527312943397806080,1527312943397806080,2022-05-19 17:39:16 Romance Daylight Time,2022-05-19,17:39:16,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
1,1526946552492789760,1526946552492789760,2022-05-18 17:23:22 Romance Daylight Time,2022-05-18,17:23:22,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
2,1526886949839065088,1526886949839065088,2022-05-18 13:26:31 Romance Daylight Time,2022-05-18,13:26:31,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
3,1526576722350686208,1526576722350686208,2022-05-17 16:53:47 Romance Daylight Time,2022-05-17,16:53:47,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
4,1524795347352051712,1524795347352051712,2022-05-12 18:55:14 Romance Daylight Time,2022-05-12,18:55:14,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,1460664611980652552,1460664611980652552,2021-11-16 18:42:35 Romance Standard Time,2021-11-16,18:42:35,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
460,1458826070162124805,1458826070162124805,2021-11-11 16:56:53 Romance Standard Time,2021-11-11,16:56:53,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
461,1458355189593870343,1458355189593870343,2021-11-10 09:45:46 Romance Standard Time,2021-11-10,09:45:46,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
462,1457661218525696004,1457661218525696004,2021-11-08 11:48:11 Romance Standard Time,2021-11-08,11:48:11,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
463,1457628986436161539,1455923357464018948,2021-11-08 09:40:06 Romance Standard Time,2021-11-08,09:40:06,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0

In [65]:
data['date'].value_counts()

2022-05-18    26
2022-04-25    18
2022-05-12    18
2022-05-10    18
2022-04-21    18
              ..
2021-09-29     1
2021-09-23     1
2021-09-13     1
2021-09-01     1
2021-07-07     1
Name: date, Length: 98, dtype: int64

In [66]:
data2 = data[(data['date'] > "2022-01-01") & (data['date'] < "2022-05-22")]

In [68]:
data2['date'].value_counts()

2022-05-18    26
2022-05-12    18
2022-05-10    18
2022-04-25    18
2022-04-21    18
2022-05-19    13
2022-05-17    13
2022-04-07    12
2022-03-09    10
2022-03-11    10
2022-03-24    10
2022-03-30    10
2022-04-12     9
2022-04-18     9
2022-04-19     9
2022-04-20     9
2022-04-27     9
2022-05-04     9
2022-05-05     9
2022-05-09     9
2022-01-19     8
2022-02-25     8
2022-04-11     6
2022-04-06     6
2022-03-03     5
2022-02-28     5
2022-03-02     5
2022-03-18     5
2022-03-07     5
2022-03-14     5
2022-03-17     5
2022-03-31     5
2022-02-22     4
2022-02-21     4
2022-02-11     4
2022-02-10     4
2022-02-03     4
2022-02-02     4
2022-01-24     4
2022-01-22     4
2022-01-20     4
2022-01-18     4
Name: date, dtype: int64

In [70]:
data2.shape

(356, 36)

In [71]:
data2.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [76]:
data2['likes_count'].value_counts()

0    189
1     81
2     41
3     35
4      5
5      5
Name: likes_count, dtype: int64

In [82]:
def filter_df(df, column, num):
  '''FunciÃ³n para crear un nuevo dataframe considerando lineas de una columna que tengam el mismo valor'''
  
  df_filter = df[df[column]==num]
  return df_filter

data3 = filter_df(data2, 'likes_count', 5)

In [83]:
data3['likes_count']

101    5
141    5
205    5
293    5
413    5
Name: likes_count, dtype: int64

In [84]:
data3

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
101,1504734193401618459,1504734193401618459,2022-03-18 09:19:22 Romance Standard Time,2022-03-18,09:19:22,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
141,1504734193401618459,1504734193401618459,2022-03-18 09:19:22 Romance Standard Time,2022-03-18,09:19:22,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
205,1504734193401618459,1504734193401618459,2022-03-18 09:19:22 Romance Standard Time,2022-03-18,09:19:22,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
293,1504734193401618459,1504734193401618459,2022-03-18 09:19:22 Romance Standard Time,2022-03-18,09:19:22,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
413,1504734193401618459,1504734193401618459,2022-03-18 09:19:22 Romance Standard Time,2022-03-18,09:19:22,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN