## Prueba Tecnica Hugo

### Twitter API - Hugo

### Import libraries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import tweepy  
import time
import csv
import json
import pickle

from sklearn.feature_extraction.text import CountVectorizer
import snscrape.modules.twitter as sntwitter

### Another way to get data, it works, but the quality is not good

In [57]:
import pandas as pd
import twint
import nest_asyncio
nest_asyncio.apply()

# Configure
c = twint.Config()
c.Username = "TheBridge_Tech"
c.Store_csv = True
c.Output='tweets_hm2.csv'
# Run
twint.run.Search(c)
data = pd.read_csv('tweets_hm2.csv')

1527312943397806080 2022-05-19 17:39:16 +0200 <TheBridge_Tech> ¡Qué poco queda para el próximo 🔥Burn Monday🔥! Lunes 23 de mayo a las 18h. aplicaremos la #IA en un viaje por obras pictóricas y hablaremos de la metodología de un Hackaton con dos alumnis de #DataScience ¡Saca tu entrada y ven a tomarte un @burn_es!🔋⬇  https://t.co/6mNJvlmi9F
1526946552492789760 2022-05-18 17:23:22 +0200 <TheBridge_Tech> Esta es la historia de Isis🤗 que decidió hacer un cambio en su vida profesional haciendo el #bootcamp de #uxui. Ahora, compagina su trabajo con el de Teacher Assistant en @TheBridge_Tech. El camino es duro pero seguro dará sus frutos👩‍💻¡Gracias Isis por compartir tu experiencia!  https://t.co/1UHKZW0UxN
1526886949839065088 2022-05-18 13:26:31 +0200 <TheBridge_Tech> Gracias @victorianoI y equipo por el análisis con @graphext de los datos en educación y tecnología que vimos ayer en la primera charla de #letstalkabouteducation en @TheBridge_Tech y que pudimos debatir con @ikerarceseco Sin duda aprendimos mucho ¡Volved cuando queráis! 🧵Hilo 📊  https://t.co/wZSVGve1sn
1526576722350686208 2022-05-17 16:53:47 +0200 <TheBridge_Tech> ¿Con ganas de probar si un empleo tecnológico es para ti? Ven a los talleres del campus de #Sevilla @ENCamaraSevilla   24 Mayo ➡Taller #DataScience  25 Mayo ➡Taller #DesarrolloWebFullStack 26 Mayo ➡Taller #Ciberseguridad 1 Junio ➡ Open Day  🎟Entradas  https://t.co/Cp05ZJBqVa  https://t.co/Vyqa1l94hr
1524795347352051712 2022-05-12 18:55:14 +0200 <TheBridge_Tech> Descubre las posibilidades y misterios que oculta el #metaverso con @HavasGroupES 😎 Hablaremos de tipos de metaverso, estrategias de onboarding, casos reales... ¡Promete ser muy interesante! Próximo 19 de mayo a las 17.30h. Consigue tus entradas 🎟 https://t.co/KxeTH2ICpc
1524738407603310594 2022-05-12 15:08:59 +0200 <TheBridge_Tech> 📻Los #bootcamps son para "cualquier persona que quiera un empleo tecnológico de calidad", como bien explican Inés García Clariana y @AmparoGalbis1 en "La Tarde con Marina" en @999plazaradio. Escucha la entrevista completa de nuestro equipo de #Valencia🔊 https://t.co/7HNlE0vpmO
1524117624174653441 2022-05-10 22:02:12 +0200 <TheBridge_Tech> 👾 El caso #Pegasus, un ejemplo más de #ciberespionaje que pone en relevancia la necesidad de expertos en #ciberseguridad  Te contamos qués es 🕵️‍♀️ y para qué fue creado 👇  https://t.co/kyzgkQDZ8N
1524053162323283968 2022-05-10 17:46:04 +0200 <TheBridge_Tech> ¡”Let’s talk about education”! Os invitamos a la primera sesión del nuevo ciclo de conferencias sobre #educación @ikerarceseco y @victorianoi debatirán sobre los datos en el sector y descubriremos @graphext plataforma de #datascience no code. Entradas🎟  https://t.co/ksTzmzqqLQ
1523574457549623296 2022-05-09 10:03:51 +0200 <TheBridge_Tech> ¡Vamos con los talleres de mayo! Este mes tenemos un montón de #freeevents 👩‍💻Metaverso, OSINT, Sistemas de diseño UX/UI, un coloquio sobre educación ... ¡No esperes más y saca ya tu entrada! 🎟 https://t.co/Nlwg6cTDOa  https://t.co/zWjT1I2AER
1522231140656066561 2022-05-05 17:06:00 +0200 <TheBridge_Tech> 👏🚀Lanzamos una nueva edición de las #becas Digital Talent Pipeline para cursar un #bootcamp en junio y septiembre ¿Quieres solicitar la tuya? Plazo hasta el 30 de mayo ¡Date prisa #digitaltalent! ➡ https://t.co/PXFR0q85F7  https://t.co/qwiGSm4WOI
1521871017714589699 2022-05-04 17:15:00 +0200 <TheBridge_Tech> 🤩¿Quieres conocer el talento digital que llevas dentro? ¡Ven a nuestro Open Day y descúbrelo!   📅Viernes 20 de mayo 11.15h en Paseo de Recoletos 15, Madrid.  🎟Saca tus entradas👇👇 https://t.co/qq3WqsydKv
1519208638136602626 2022-04-27 08:55:39 +0200 <TheBridge_Tech> @burn_es Prueba de ello 📸🔥  https://t.co/7SWL2ionj3
1518607234976161792 2022-04-25 17:05:53 +0200 <TheBridge_Tech> Este jueves Job Market Place en @TheBridge_Tech con @spaingeneration La feria de empleo con el mejor talento de #marketingdigital @AccentureSpain, @Siliconhr1, ... participarán en busca del mejor talento. Si eres empresa y quieres participar 👉 https://t.co/0n4iufzfmi  https://t.co/A51YStbfjF
1518529871969988608 2022-04-25 11:58:29 +0200 <TheBridge_Tech> "Necesitaba formación técnica para potenciar mi empleabilidad", cuenta nuestra alumni Clara Bayón a @el_pais 🗞Tras hacer el #bootcamp en #ciberseguridad ahora trabaja en @DeloitteDE Check it out! 👉 https://t.co/XGIPZfmtx6  https://t.co/7jrVa74qTG
1517147713254526978 2022-04-21 16:26:16 +0200 <TheBridge_Tech> ¿Unimos #psicología, diseño #uxui y #realidadvirtual? La respuesta: SÍ! Te invitamos a la mesa redonda del 28 de abril en @TheBridge_Tech donde trataremos el diseño ux desde el punto de vista del tratamiento de las fobias a través de la #vr. Entradas 👉 https://t.co/JGOpD7p2rO
1517111329374543873 2022-04-21 14:01:42 +0200 <TheBridge_Tech> ¡Gracias a vosotros!
1516687246241550337 2022-04-20 09:56:32 +0200 <TheBridge_Tech> ¡Qué bonito es nuestro palacio! 😍 Todo un privilegio para alumnos, profes y staff poder disfrutar de este espacio en pleno centro de Madrid.
1516440085486575617 2022-04-19 17:34:25 +0200 <TheBridge_Tech> ▶Os presentamos a Jesús, alumni recién graduado del #bootcamp de #digitalmarketingops que tras acabar la carrera se lanzó en busca de una especialización en #MarketingDigital ¡Gracias Jesús por compartir tu experiencia y mucha suerte! 🚀 Más info 👉 https://t.co/GtnhQmDsGP  https://t.co/4VV7VDyjjP
1515970019733258247 2022-04-18 10:26:32 +0200 <TheBridge_Tech> @bertinha84 Ese nudo es presagio de algo bueno 😆¡Bienvenida a @TheBridge_Tech ! Muchas horas de #UXUI te esperan 🙌 ¡sin miedo!
1513807125205684224 2022-04-12 11:11:58 +0200 <TheBridge_Tech> A la vuelta de #SemanaSantaSevilla toca👉 #bootcamps🧑‍💻Especialízate en #datascience o #desarrollowebfullstack con nuestros programas en colaboración con @ENCamaraSevilla ¡Estudia en pleno centro de Sevilla! Y en unos meses sal a comerte el sector tech🚀 https://t.co/1MQSzZSqLv  https://t.co/ggtxFWCV72
1513473323589672963 2022-04-11 13:05:33 +0200 <TheBridge_Tech> 📅El 25 de abril estrenamos los #BurnMondays🔥, con la colaboración de @burn_es, una oportunidad para que nuestr@s alum@s puedan presentar sus proyectos, hacer un taller... En definitiva, mostrar su talento al🌎 ¡Save the date! ➡ Entradas  https://t.co/yzVCLHZXVd   #bootcamps  https://t.co/yZuTjBCGIf
1512026991578566657 2022-04-07 13:18:21 +0200 <TheBridge_Tech> @burn_es ¿Algún que otro? 😝 Toda energía extra es bienvenida y necesaria 🔋🔥 ¡Gracias @burn_es! Pronto haremos buen uso de ella...  https://t.co/p0uELS5eIf
1511970979324518406 2022-04-07 09:35:47 +0200 <TheBridge_Tech> En dos semanas empezamos los bootcamps Part Time (compatibles con trabajo/estudios) en #Sevilla y en @ENCamaraSevilla ya hay quién ha empezado a calentar!!💪 ¿Preparados para lo que viene? 👉 https://t.co/1KbOQQK8iw
1511613451063410690 2022-04-06 09:55:05 +0200 <TheBridge_Tech> @AndreaMaganRey Hola Andrea ¡Qué gran trabajo! Estamos encantados de pasarte información para que puedas completar ese listado, te mandamos un DM 👏
1509622664297693189 2022-03-31 22:04:25 +0200 <TheBridge_Tech> Cuando piensas en un hacker... ¿Te imaginas a una mujer? 🤔 "Son muy pocas las mujeres que deciden apostar por estudios de tecnología, hay que fomentar la inclusión de las mujeres en un mercado laboral con un futuro muy prometedor", explica @ikerarceseco 👩‍💻 https://t.co/UQgHL1tLCQ
1509108619782111235 2022-03-30 12:01:47 +0200 <TheBridge_Tech> ¡Llegó el día! Hoy es el #DesafiodeTripulaciones ⚔ en el campus de #Valencia ¡Mucha suerte a toda esa primera promoción valenciana presentando sus súper webapps! No te lo pierdas ▶ Sigue ya el DIRECTO aquí  https://t.co/lLXz2wKxaX  #datascience #fullstackwebdevelopment #bootcamp
1509074925654532099 2022-03-30 09:47:54 +0200 <TheBridge_Tech> A partir de las 11h nuestro CEO @ikerarceseco participa en el #ForoVocentoEducacion en el debate "Formación para el futuro y las nuevas profesiones que vienen" organizado por @Vocento (@vocentoeventos) y @KreabEspana. Síguelo🔴EN DIRECTO ➡  https://t.co/JFh6RBMBd4  https://t.co/RJvjrxULch
1507029045187387401 2022-03-24 17:18:18 +0200 <TheBridge_Tech> Hoy han venido a visitarnos los alumnos de @itep_es de #DAM #ASIR y #MARKETING para conocer nuestro campus de Madrid y el futuro de profesiones tecnológicas como las suyas ¡Esperamos que hayais pasado una estupenda jornada! Sois los profesionales #techie del mañana 👩‍💻🧑‍💻  https://t.co/U1gPnU7TgI
1506941441574117378 2022-03-24 11:30:11 +0200 <TheBridge_Tech> ¿Crees que lo sabes todo?🤓¡Déjate sorprender! Adéntrate en el mundo de la #ProgramacionWeb y las criptomonedas, conoce la metolodogía #Scrum o profundiza en el #deeplearning. Apúntate a nuestros talleres gratuitos y amplía horizontes 👉 https://t.co/bYfstQB02R  https://t.co/O1Y4J6puMR
1504734193401618459 2022-03-18 09:19:22 +0200 <TheBridge_Tech> ¡Comenzamos el #Desafiodetripulaciones ⚔ de la promo full time de noviembre! El tema de los proyectos: el #coliving, con la colaboración de @TheFringeLABS  ¡No te pierdas las web apps que han creado! 🔴EN DIRECTO  https://t.co/PepMdUmCMu
1504416870526590977 2022-03-17 12:18:27 +0200 <TheBridge_Tech> Más de 300.000 expertos en #ciberseguridad se han unido en una especie de "ejército IT" en Ucrania para llevar a cabo ataques informáticos contra infraestructuras y empresas rusas 👾🔓 https://t.co/CERWGVqWQw
1503409219789328384 2022-03-14 17:34:24 +0200 <TheBridge_Tech> ¡Muy contentos por todos ellos! 100% empleabilidad en la promoción de junio. Gracias desde @TheBridge_Tech por confiar y ponerlo todo tan fácil ¡Felicidades! #fullstackdevelopers #datascientists #digitalmarketers #uxuidesigners #cybersecurityanalysts 🎯💼  https://t.co/R0eGi9QXv5
1502360507365400587 2022-03-11 20:07:12 +0200 <TheBridge_Tech> 👾La #ciberseguridad, más necesaria que nunca.  El #sectortecnológico pide más financiación y formación de profesionales para evitar ataques a sectores claves para la economía como energía, finanzas y transporte 🔒  https://t.co/OxY8JpRavS
1502195577584500740 2022-03-11 09:11:49 +0200 <TheBridge_Tech> ¿Algún identificado en la sala? 😂  #desarrolloweb #css #fullstackdeveloper
1501543878692073472 2022-03-09 14:02:12 +0200 <TheBridge_Tech> Faltan por salir las listas de #UXUIProductDesign #DataScience y #DesarrolloWebFullStack ¡Sería estupendo volver a aparecer!
1501530641610989581 2022-03-09 13:09:36 +0200 <TheBridge_Tech> ¡El #bootcamp de #Ciberseguridad de @TheBridge_Tech vuelve a estar entre los mejores bootcamps del mundo! Y este año también nos estrenamos con el de #DigitalMarketingOps que entra por primera vez en la lista de #CourseReport! Una súper noticia👏👏¡Gracias a todos! #bestbootcamps  https://t.co/3xShvybDST
1500821305754595332 2022-03-07 14:10:57 +0200 <TheBridge_Tech> 🧐¿Sabías que a partir de los 6 años las niñas empiezan a pensar que los niños son más capaces que ellas?🟣Ven a ver el proyecto de #uxui de nuestra alumni Carmen de Agustín para fomentar el interés de las niñas en la #ciencia y la #tecnología #8M2022 🎟 https://t.co/ZH7OSzglVm  https://t.co/KEqjp18lPX
1499395478563155968 2022-03-03 15:45:14 +0200 <TheBridge_Tech> @PICKYUAN @PagePersonnel Sentimos mucho el fallo técnico. Revisaremos que pudo pasar, pueden conectarse a próximos eventos o contactarnos si quieren más información sobre la escuela llamar al 919 01 72 57 ¡Gracias!
1498939760462630913 2022-03-02 09:34:22 +0200 <TheBridge_Tech> ¡Empezamos el 21 de marzo en #Sevilla! No te puedes perder este taller de empleabilidad con el que arrancamos 🚀 Entradas:  https://t.co/91M74qEah2 📅Hoy a las 19h 📍C/Isabela 1, Sevilla @ENCamaraSevilla  https://t.co/euWktCKqYp
1498212250481483778 2022-02-28 09:23:30 +0200 <TheBridge_Tech> Gracias @insidezeusdata y @vicencf por la jornada formativa ¡Fue toda una experiencia para nuestros alumnos de #Valencia! 🤗
1497165125752664112 2022-02-25 12:02:36 +0200 <TheBridge_Tech> ¡#Datascientist mirad esto! ⚽🏃 Cómo @LaLiga utiliza el dato y la inteligencia artificial (IA) para predecir cuáles son las mejores fechas para celebrar partidos, monitorizar la venta de entradas... ¡Interesante conocer su filial @LaLigaTech!  https://t.co/HrEwHLEivh #datascience
1497118969236377601 2022-02-25 08:59:12 +0200 <TheBridge_Tech> ¡Gracias a vosotros! Los alumnos se llevaron grandes consejos y una visión del mercado laboral en profesiones #tech desde la perspectiva de #seleccion y #recruitment 🤩 @PagePersonnelES @michaelpage_es
1496140777529004033 2022-02-22 16:12:12 +0200 <TheBridge_Tech> Si veis estos carteles por Sevilla, SÍ, SOMOS NOSOTROS! Aterrizamos en marzo con los #bootcamps en #DataScience y #DesarrolloWebFullStack ¡Pide información sin compromiso! En colaboración con @ENCamaraSevilla y @camaradesevilla 👍  https://t.co/V8mmlFAlEc  https://t.co/JUOBlK4F7V
1495710690950193155 2022-02-21 11:43:12 +0200 <TheBridge_Tech> ¡Nuevos eventos para febrero y marzo! Talleres sobre #IA, #marketingdigital #empleabilidad, #ciber, #datascience ¡No te los pierdas e inscríbete! ⬇️  https://t.co/bSsTjrDH8l  https://t.co/4b1jxJmMLO
1492085613713141760 2022-02-11 11:38:26 +0200 <TheBridge_Tech> Hoy se celebra VLC Tech Women con motivo del #DiaDeLaMujeryLaNiñaEnLaCiencia, un evento en el que se hablará de inteligencia artificial, datos y el futuro de la mujer en la tecnología @AcmUpv @AcmWUpv  https://t.co/OhDBKHnsQQ ¡Promete ser muy interesante!👩‍💻
1491801710729195524 2022-02-10 16:50:18 +0200 <TheBridge_Tech> Sevilla está llena de talentos digitales por descubrir ¿te animas a conocer las profesiones del futuro?🧑‍💻Ven al taller y conoce de la mano de @pagepersonnel los perfiles más demandados ¡Saca tus entradas!👉 2 de marzo, 19h.  https://t.co/5UMpplARdX
1489181416818724864 2022-02-03 11:18:12 +0200 <TheBridge_Tech> ¡Nos visita @DecathlonES ! Si te interesa la ciencia de datos y cómo se aplica a proyectos reales ¡Apúntate al evento! 👇 El 8 de febrero a las 17.30h 😉 #datascience #bestpractice #freeevent  https://t.co/pXyFXll3fa
1488811177928921089 2022-02-02 10:47:00 +0200 <TheBridge_Tech> Cada vez se habla más de las "soft skills" y de lo importante que son para aplicar a posiciones tecnológicas ¡Descubre cuáles son en nuestro evento "Soft Skills en tiempos de robots"! Saca tu entrada 👇  https://t.co/PfcDscwDtP
1485581825401577472 2022-01-24 12:54:42 +0200 <TheBridge_Tech> ¡Open Day Sevilla! Asiste al evento y conoce más sobre los bootcamps de #DataScience y #DesarrolloWebFullStack en nuestra nueva sede en la @ENCamaraSevilla @camaradesevilla ¿Estás pensando en acelerar tu carrera digital?  👩‍💻Saca ya tus entradas🚀 https://t.co/j6mTRz4NDB
1484832209567551489 2022-01-22 11:16:00 +0200 <TheBridge_Tech> ¡Inside The Bridge! ¡Emoción a flor de piel! Así reacciona Miriam Sánchez, la profe de UX/UI a los #proyectosfinales de los alumnos ¡Se puede decir que ya son UX/UI Designers! 😆  #uxui #bootcamp #clases #motivacion #palabrasraras  https://t.co/bU5ZaGcTPV
1484117172494475265 2022-01-20 11:54:42 +0200 <TheBridge_Tech> Nuevo evento🤩"La Inteligencia Artificial y la Ley: lo que hay y lo que viene" a cargo de @rayadvd  📆25 de enero en @TheBridge_Tech  ¡Saca ya tus entradas!🎟️ https://t.co/EG7QBigIgJ  #ResponsibleAI #AILaw #Compliance @nodosenlared  @josepcurto
1483836824279818241 2022-01-19 17:20:41 +0200 <TheBridge_Tech> El claustro de #DataScience de @TheBridge_Tech ha creado este "escalofriante" vídeo haciendo uso de Inteligencia Artificial con motivo del tema del #DesafíodeTripulaciones sobre la protección de las marcas ¡Alumnos y famosos se mezclan en este ejercicio de #deepface! #IA 🤯  https://t.co/3Eg8WYfV2p
1483737308553789445 2022-01-19 10:45:15 +0200 <TheBridge_Tech> La directora de #ciberseguridad de @siemens @NataliaOropezaG  aboga por una sólida estrategia de ciberseguridad de manera proactiva, y no reaccionar "tras haber tenido un ataque o una auditoría interna, instalando algunas medidas aquí y allí"⚔️ #Checkitout  https://t.co/3ZXCwOU8pT
1483469787078533123 2022-01-18 17:02:13 +0200 <TheBridge_Tech> Del periodismo al marketing digital 🤸 esta es la historia de Blanca Gómez y su experiencia cursando el #bootcamp de #DigitalMarketingOps en @TheBridge_Tech ¡Dale al ▶!   #digitaltalent #aceleratucarrera  https://t.co/sU5Ogt3xGn
1475432979925278723 2021-12-27 12:46:49 +0200 <TheBridge_Tech> ¿Quieres crear una #startup ? ¿Estás perdido en el mundo de los socios? ➡Nuevo evento de formación para emprendedores sobre #pactosdesocios impartido por @Letslawfirm ¡Evento online y gratuito! Apúntate ya 12 ene 17.30h👩‍💻  https://t.co/pNQyu844fb  https://t.co/eM18tiU80S
1473672163571998748 2021-12-22 16:09:57 +0200 <TheBridge_Tech> Próxima parada📍Sevilla ¡Los #bootcamps de @TheBridge_Tech llegan a la ciudad de la mano de @ENCamaraSevilla! El 21 de marzo empezamos con #DataScience y #DesarrolloWebFullStack 🙌   Infórmate en  https://t.co/V8mmlFAlEc  #sevilla #digitaltalent #aceleratucarrera @camaradesevilla  https://t.co/6D8GlYkKwX
1470672309719646210 2021-12-14 09:29:37 +0200 <TheBridge_Tech> @AlonsoVcr96 Le hemos escrito un DM 😉
1470336227324973057 2021-12-13 11:14:08 +0200 <TheBridge_Tech> ☃️Winter is coming... Refúgiate en el conocimiento de la mano de los eventos gratuitos de @TheBridge_Tech 👩‍💻¡Un montón de talleres para aprender y una oportunidad para conocer de cerca lo que hacemos! Inscríbete ya👉 https://t.co/33sWyP85sA  https://t.co/9KXb8OxuuI
1468612835995308034 2021-12-08 17:06:00 +0200 <TheBridge_Tech> Nos llena de orgullo y satisfacción la súper App que han creado nuestros profes y alumnos para #joytotheworld2021 ¿Cómo funciona? Escaneas un código QR y por arte de magia los personajes aparecerán ante ti gracias a la realidad aumentada ¡Mola mucho!🎄  https://t.co/67UXpyevlN  https://t.co/oCz5FtXpWB
1466722714379509762 2021-12-03 11:55:20 +0200 <TheBridge_Tech> Hoy con motivo del #DiaInternacionalDiscapacidad os compartimos las Wep Apps accesibles que crearon los alumnos en uno de los últimos #DesafíosDeTripulaciones ⚔️Un reto todavía a superar, ya que muchas webs presentan problemas de #accesibilidad #accesibilidadweb 📲  https://t.co/S6MGI9SjuF
1466459964680151047 2021-12-02 18:31:15 +0200 <TheBridge_Tech> ¡Luces, cámara y acción! Comenzamos el Desafío de Tripulaciones Part Time Síguelo EN DIRECTO y descubre los proyectos digitales que han creado  https://t.co/pu8lO9w8T4
1466111078295875585 2021-12-01 19:24:54 +0200 <TheBridge_Tech> En el Taller de @MercadonaTech sobre TDD aplicado al desarrollo API ¡Nos metemos de lleno en la materia!💻 💪 #desarrolloweb #fullstack #Django  https://t.co/N8LVEKnq8W
1466065714972872712 2021-12-01 16:24:39 +0200 <TheBridge_Tech> Ayer coincidiendo con el #DíadelaCiberseguridad firmamos un acuerdo de colaboración con @Women4Cyber_SP para seguir fomentando la presencia de mujeres en profesiones digitales📸Junto a la promo Part-time del #bootcamp de Ciberseguridad, en la que hay 5 mujeres 🙌  https://t.co/uPb7ROYN6S
1466034288462340099 2021-12-01 14:19:46 +0200 <TheBridge_Tech> @EmilioMarioRod1 Gracias @EmilioMarioRod1😊Todos nos hemos sentido perdidos a la hora de buscar empleo, qué pasos seguir o si la decisión que tomamos al optar por una formación u otra es la correcta ¡Ánimo, ya sea si te lanzas a la búsqueda de empleo o eliges darle un empujón a tu formación! 🚀
1465992140551512070 2021-12-01 11:32:17 +0200 <TheBridge_Tech> Viajamos a Extremadura para participar en la mesa de debate sobre transformación digital y formación de @Forbes_es ¡Un placer poder contar lo que hacemos y mostrar la visión de @ikerarceseco CEO de @TheBridge_Tech ! #ReinventingExtremadura
1465969519390871552 2021-12-01 10:02:24 +0200 <TheBridge_Tech> Una auténtica masterclass la que vivimos ayer con @LegalHackersMAD sobre los modelos de criptomonedas #NFT. Gracias @crisvillasante @sergiocm y Pedro Méndez de Vigo por el debate y a @derechopractico por colaborar en este tipo de charlas👏🪙  #eventos #criptomonedas  https://t.co/VcHUQOWqH2

In [58]:
data.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [59]:
data['date']

0      2022-05-19
1      2022-05-18
2      2022-05-18
3      2022-05-17
4      2022-05-12
          ...
459    2021-11-16
460    2021-11-11
461    2021-11-10
462    2021-11-08
463    2021-11-08
Name: date, Length: 464, dtype: object

In [60]:
data.shape

(464, 36)

In [61]:
data

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1527312943397806080,1527312943397806080,2022-05-19 17:39:16 Romance Daylight Time,2022-05-19,17:39:16,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1526946552492789760,1526946552492789760,2022-05-18 17:23:22 Romance Daylight Time,2022-05-18,17:23:22,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1526886949839065088,1526886949839065088,2022-05-18 13:26:31 Romance Daylight Time,2022-05-18,13:26:31,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1526576722350686208,1526576722350686208,2022-05-17 16:53:47 Romance Daylight Time,2022-05-17,16:53:47,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1524795347352051712,1524795347352051712,2022-05-12 18:55:14 Romance Daylight Time,2022-05-12,18:55:14,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,1460664611980652552,1460664611980652552,2021-11-16 18:42:35 Romance Standard Time,2021-11-16,18:42:35,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
460,1458826070162124805,1458826070162124805,2021-11-11 16:56:53 Romance Standard Time,2021-11-11,16:56:53,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
461,1458355189593870343,1458355189593870343,2021-11-10 09:45:46 Romance Standard Time,2021-11-10,09:45:46,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
462,1457661218525696004,1457661218525696004,2021-11-08 11:48:11 Romance Standard Time,2021-11-08,11:48:11,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
463,1457628986436161539,1455923357464018948,2021-11-08 09:40:06 Romance Standard Time,2021-11-08,09:40:06,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [63]:
data['likes_count'].value_counts()

0    229
1    116
2     55
3     43
5      9
4      8
9      2
6      2
Name: likes_count, dtype: int64

In [64]:
data.fillna(0)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1527312943397806080,1527312943397806080,2022-05-19 17:39:16 Romance Daylight Time,2022-05-19,17:39:16,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
1,1526946552492789760,1526946552492789760,2022-05-18 17:23:22 Romance Daylight Time,2022-05-18,17:23:22,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
2,1526886949839065088,1526886949839065088,2022-05-18 13:26:31 Romance Daylight Time,2022-05-18,13:26:31,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
3,1526576722350686208,1526576722350686208,2022-05-17 16:53:47 Romance Daylight Time,2022-05-17,16:53:47,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
4,1524795347352051712,1524795347352051712,2022-05-12 18:55:14 Romance Daylight Time,2022-05-12,18:55:14,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,1460664611980652552,1460664611980652552,2021-11-16 18:42:35 Romance Standard Time,2021-11-16,18:42:35,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
460,1458826070162124805,1458826070162124805,2021-11-11 16:56:53 Romance Standard Time,2021-11-11,16:56:53,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
461,1458355189593870343,1458355189593870343,2021-11-10 09:45:46 Romance Standard Time,2021-11-10,09:45:46,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
462,1457661218525696004,1457661218525696004,2021-11-08 11:48:11 Romance Standard Time,2021-11-08,11:48:11,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0
463,1457628986436161539,1455923357464018948,2021-11-08 09:40:06 Romance Standard Time,2021-11-08,09:40:06,200,1162694149956603904,thebridge_tech,The Bridge,0.0,...,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0

In [65]:
data['date'].value_counts()

2022-05-18    26
2022-04-25    18
2022-05-12    18
2022-05-10    18
2022-04-21    18
              ..
2021-09-29     1
2021-09-23     1
2021-09-13     1
2021-09-01     1
2021-07-07     1
Name: date, Length: 98, dtype: int64

In [66]:
data2 = data[(data['date'] > "2022-01-01") & (data['date'] < "2022-05-22")]

In [68]:
data2['date'].value_counts()

2022-05-18    26
2022-05-12    18
2022-05-10    18
2022-04-25    18
2022-04-21    18
2022-05-19    13
2022-05-17    13
2022-04-07    12
2022-03-09    10
2022-03-11    10
2022-03-24    10
2022-03-30    10
2022-04-12     9
2022-04-18     9
2022-04-19     9
2022-04-20     9
2022-04-27     9
2022-05-04     9
2022-05-05     9
2022-05-09     9
2022-01-19     8
2022-02-25     8
2022-04-11     6
2022-04-06     6
2022-03-03     5
2022-02-28     5
2022-03-02     5
2022-03-18     5
2022-03-07     5
2022-03-14     5
2022-03-17     5
2022-03-31     5
2022-02-22     4
2022-02-21     4
2022-02-11     4
2022-02-10     4
2022-02-03     4
2022-02-02     4
2022-01-24     4
2022-01-22     4
2022-01-20     4
2022-01-18     4
Name: date, dtype: int64

In [70]:
data2.shape

(356, 36)

In [71]:
data2.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [76]:
data2['likes_count'].value_counts()

0    189
1     81
2     41
3     35
4      5
5      5
Name: likes_count, dtype: int64

In [82]:
def filter_df(df, column, num):
  '''Función para crear un nuevo dataframe considerando lineas de una columna que tengam el mismo valor'''
  
  df_filter = df[df[column]==num]
  return df_filter

data3 = filter_df(data2, 'likes_count', 5)

In [83]:
data3['likes_count']

101    5
141    5
205    5
293    5
413    5
Name: likes_count, dtype: int64

In [84]:
data3

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
101,1504734193401618459,1504734193401618459,2022-03-18 09:19:22 Romance Standard Time,2022-03-18,09:19:22,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
141,1504734193401618459,1504734193401618459,2022-03-18 09:19:22 Romance Standard Time,2022-03-18,09:19:22,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
205,1504734193401618459,1504734193401618459,2022-03-18 09:19:22 Romance Standard Time,2022-03-18,09:19:22,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
293,1504734193401618459,1504734193401618459,2022-03-18 09:19:22 Romance Standard Time,2022-03-18,09:19:22,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
413,1504734193401618459,1504734193401618459,2022-03-18 09:19:22 Romance Standard Time,2022-03-18,09:19:22,200,1162694149956603904,thebridge_tech,The Bridge,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN